<div class="user-card">
    <a href="/user/<%= user.username %>">
        <img src="<%= user.profilePic %>" alt="Foto de perfil" class="user-card-image">
        <div class="user-card-info">
            <strong><%= user.username %></strong>
            <% if(user.isVerified) { %>
                <span class="location" style="color: var(--info-color); font-weight: bold;"><i class="fas fa-check-circle"></i> Verificado</span>
            <% } else { %>
                 <span class="location"><i class="fas fa-map-marker-alt"></i> <%= user.location %></span>
            <% } %>
        </div>
    </a>
</div>