<%- include('partials/header.html') %>

<div class="page-header">
    <h1>Mis Videos Comprados</h1>
</div>

<div class="post-grid">
    <% if(videos.length > 0) { %>
        <% videos.forEach(post => { %>
            <div class="post-card">
                <a href="/post/<%= post._id %>" class="post-image-link">
                    <video src="<%= post.files[0] %>#t=2" muted preload="metadata" class="post-image"></video>
                </a>
                <div class="post-content">
                    <div class="post-header">
                         <a href="/user/<%= post.userId._id %>">
                           <img src="<%= post.userId.profilePic %>" alt="Foto de perfil">
                        </a>
                        <div>
                             <a href="/user/<%= post.userId._id %>" class="username-link"><%= post.userId.username %></a>
                        </div>
                    </div>
                     <a href="/post/<%= post._id %>" class="btn btn-primary" style="width: 100%;">Ver Video</a>
                </div>
            </div>
        <% }) %>
    <% } else { %>
        <h3 style="grid-column: 1 / -1; text-align: center; color: var(--light-gray); margin-top: 3rem;">Aún no has comprado ningún video.</h3>
    <% } %>
</div>

<%- include('partials/footer.html') %>